<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
       <p>
                    <h2 style="color: rgb(26, 24, 24);">Validation Form</h2>
                    <form action="{{ url_for('predict_lo') }}" method="POST">
                      <h1 style="color: rgb(12, 12, 12);">Write the OTP here!</h1>
                      <div style="text-align: center;">
                        <input type="text" name="message" required="required" style="font-size: 12pt; width: 200px; background-color: #c4b7b7; color: #333;">
                      </div>
                      <br />
                      <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                      </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

   
</div>

<!-- JS -->
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>